<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.relicx-me.sensi-mouse-cli</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/sensi-mouse</string>
			<string>-s</string>
			<string>100</string>
			<string>-a</string>
			<string>0</string>
			<string>-d</string>
		</array>
		<key>KeepAlive</key>
		<dict>
			<key>Crashed</key>
			<true/>
		</dict>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>
